{% extends 'base.html.twig' %}


{% block body %}

    <h1>Sign up</h1>

    {{ form_start(form) }}
        {{ form_row(form.username) }}
        {{ form_row(form.email) }}
        {{ form_row(form.plainPassword.first) }}
        {{ form_row(form.plainPassword.second) }}

        <button class="btn btn-primary" type="submit"><i class="fas fa-user-plus"></i> Register</button>
    {{ form_end(form) }}

{% endblock %}
