{% extends 'base.html.twig' %}

{% block title %}Package index{% endblock %}

{% block body %}
    <h1>Package index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Vendor</th>
                <th>Name</th>
                <th>Version</th>
                <th>Type</th>
                <!-- <th>Description</th> -->
                <!-- <th>Website</th> -->
                <!-- <th>Repository</th> -->
                <!-- <th>CreatedAt</th> -->
                <!-- <th>UpdatedAt</th> -->
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for package in packages %}
            <tr>
                <td>{{ package.id }}</td>
                <td>{{ package.vendor }}</td>
                <td>{{ package.name }}</td>
                <td>{{ package.version }}</td>
                <td>{{ package.category }}</td>
                <!-- <td>{{ package.description }}</td> -->
                <!-- <td>{{ package.website }}</td> -->
                <!-- <td>{{ package.repository }}</td> -->
                <!-- <td>{{ package.createdAt ? package.createdAt|date('Y-m-d H:i:s') : '' }}</td> -->
                <!-- <td>{{ package.updatedAt ? package.updatedAt|date('Y-m-d H:i:s') : '' }}</td> -->
                <td>
                    <a class="btn btn-primary" href="{{ path('package_show', {'id': package.id}) }}"><i class="fas fa-file-alt"></i> Show</a>
                    <a class="btn btn-primary" href="{{ path('package_edit', {'id': package.id}) }}"><i class="fas fa-pencil-alt"></i> Edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('package_new') }}"><i class="fas fa-plus"></i> Create new</a>
{% endblock %}
