{% extends 'base.html.twig' %}

{% block title %}{{'Package index'|trans}}{% endblock %}

{% block body %}
    <h1>{{ 'Package index'|trans }}</h1>

    <table class="table">
        <thead>
            <tr>
                <th>{{ 'Id'|trans }}</th>
                <th>{{ 'Vendor'|trans }}</th>
                <th>{{ 'Public'|trans }}</th>
                <th>{{ 'Name'|trans }}</th>
                <th>{{ 'Version'|trans }}</th>
                <th>{{ 'Category'|trans }}</th>
                <th>{{ 'Actions'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for package in packages %}
            <tr {{ package.public ? '' : 'class="table-danger"' }}>
                <td>{{ package.id }}</td>
                <td>{{ package.vendor }}</td>
                <td>{{ package.public ? 'Yes'|trans : 'No'|trans }}</td>
                <td>{{ package.name }}</td>
                <td>{{ package.version }}</td>
                <td>{{ package.category }}</td>
                <td>
                    <div class="form-check-inline">
                        <a class="btn btn-primary mr-2" href="{{ path('package_show', {'id': package.id}) }}"><i class="fas fa-eye"></i> {{'Show'|trans}}</a>
                        {% if app.user %}
                            {% if package.owner == app.user %}
                                {% if is_granted('ROLE_USER') %}
                                    <a class="btn btn-primary mr-2" href="{{ path('package_edit', {'id': package.id}) }}"><i class="fas fa-pencil-alt"></i> {{'Edit'|trans}}</a>
                                    {{ include('package/_delete_form.html.twig') }}
                                {% endif %}
                            {% else  %}
                                {% if is_granted('ROLE_ADMIN') %}
                                    <a class="btn btn-primary mr-2" href="{{ path('package_edit', {'id': package.id}) }}"><i class="fas fa-pencil-alt"></i> {{'Edit'|trans}}</a>
                                    {{ include('package/_delete_form.html.twig') }}
                                {% endif  %}
                            {% endif  %}
                        {% endif %}
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">{{'no records found'|trans}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if is_granted('ROLE_USER') %}
        <a class="btn btn-primary" href="{{ path('package_new') }}"><i class="fas fa-plus"></i> {{'Create new'|trans}}</a>
    {% endif %}
{% endblock %}
