{% extends 'base.html.twig' %}

{% block title %}Package{% endblock %}

{% block body %}
    <h1>Package "{{ package.name }}"</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ package.id }}</td>
            </tr>
            <tr>
                <th>Vendor</th>
                <td>{{ package.vendor }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ package.name }}</td>
            </tr>
            <tr>
                <th>Version</th>
                <td>{{ package.version }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ package.category }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ package.description }}</td>
            </tr>
            <tr>
                <th>Website</th>
                <td>{{ package.website }}</td>
            </tr>
            <tr>
                <th>Repository</th>
                <td>{{ package.repository }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ package.createdAt ? package.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ package.updatedAt ? package.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <form>
        <a class="btn btn-secondary" href="{{ path('package_index') }}"><i class="fas fa-angle-left"></i> Back to list</a>
        {% if is_granted('ROLE_USER') %}
            <a class="btn btn-primary" href="{{ path('package_edit', {'id': package.id}) }}"><i class="fas fa-pencil-alt"></i> Edit</a>
        {% endif %}
    </form>



{% endblock %}
