<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- <base href="http://localhost:8000/"> -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>

        <title>
            {% block title %}'Drakkar-Software / OctoBot'{% endblock %}
        </title>

        <!-- Bootstrap core CSS -->
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">

        <!-- Custom styles for this template -->
        <link href="{{ asset('css/style.css') }}" rel="stylesheet">

        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

    </head>

    <body>

        <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
            <a class="navbar-brand" href="#">OctoBot</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbar">
                <ul class="navbar-nav mr-auto">
                    <li>
                        <a class="nav-link {% if '/package/' in app.request.server.get('REQUEST_URI') %} active {% endif %} nav-link" href="{{ path('package_index') }}">Packages</a>
                    </li>
                    <li>
                        <a class="nav-link {% if '/packagecategory/' in app.request.server.get('REQUEST_URI') %} active {% endif %}" href="{{ path('package_category_index') }}">Package types</a>
                    </li>
                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                        <li>
                            <a class="nav-link {% if '/user/' in app.request.server.get('REQUEST_URI') %} active {% endif %}" href="{{ path('user_index') }}">Users</a>
                        </li>
                    {% endif %}
                    <li>
                        <a class="nav-link" href="{{ path('api_entrypoint') }}">Api</a>
                    </li>
                    <!-- <li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" href="https://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a> <div class="dropdown-menu" aria-labelledby="dropdown01">
                    <a class="dropdown-item" href="#">Action</a> <a class="dropdown-item" href="#">Another action</a> <a class="dropdown-item" href="#">Something else here</a> </div> </li> -->
                </ul>
                <ul class="navbar-nav mr-right">
                    {% if is_granted('ROLE_USER') %}
                        <li>
                            <div class="nav-link disabled">
                                <i class="fas fa-user"></i>
                                {% if app.user %}
                                    <strong>{{ app.user.username }}</strong>
                                {% endif %}
                            </div>
                        </li>
                        <li>
                            <a class="nav-link" href="{{ path('logout') }}">Logout</a>
                        </li>
                        {% else %}
                        <li>
                            <a class="nav-link" href="{{ path('login') }}">Sign in</a>
                        </li>
                        <li>
                            <a class="nav-link" href="{{ path('register') }}">Sign up</a>
                        </li>
                    {% endif %}
                </ul>
                <!-- <form class="form-inline my-2 my-lg-0"> <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search"> <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> </form> -->
            </div>
        </nav>

        <main role="main" class="container">
            <div class="starter-template">
                <div class="col-md-12 col-lg-12 col-xl-12">
                    {% for label, messages in app.flashes %}
                        {% for message in messages %}
                            <div class="alert alert-{{ label }}" role="alert">
                                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endfor %}
                </div>
                <div class="col-sm-12">
                    {% block body %}{% endblock %}
                </div>

            </div>
        </main>
        <!-- /.container -->

        {% block javascripts %}{% endblock %}

        <!-- Bootstrap core JavaScript ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <!-- <script src="../../../../assets/js/vendor/popper.min.js"></script> -->
    </body>
</html>
