<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>
            {% block title %}'OctoBot'{% endblock %}
        </title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        <!-- Custom CSS File -->
        <script src="css/style.css"></script>
    </head>

    <body>

        <div class="col-md-12 col-lg-12 col-xl-12">
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-{{ label }}" role="alert">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        </div>

        <div>
            <ul>
                {% if is_granted('ROLE_USER') %}
                    <li>
                        <a href="{{ path('package_index') }}">Packages</a>
                    </li>
                {% endif %}
                {% if is_granted('ROLE_ADMIN') %}
                    <li>
                        <a href="{{ path('package_category_index') }}">Package types</a>
                    </li>
                {% endif %}
                {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <li>
                        <a href="{{ path('user_index') }}">Users</a>
                    </li>
                {% endif %}
                {% if is_granted('ROLE_USER') %}
                    <li>
                        <a href="{{ path('logout') }}">Logout</a>
                    </li>
                {% endif %}
            </ul>
        </div>

        <div class="col-sm-12 blog-main">
            {% block body %}{% endblock %}
        </div>

        {% block javascripts %}{% endblock %}

    </body>
</html>
