{% extends 'base.html.twig' %}

{% block title %}PackageCategory{% endblock %}

{% block body %}
    <h1>package category "{{ package_category.shortname }}"</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ package_category.id }}</td>
            </tr>
            <tr>
                <th>Short name</th>
                <td>{{ package_category.shortname }}</td>
            </tr>
            <tr>
                <th>Long name</th>
                <td>{{ package_category.longname }}</td>
            </tr>
            <tr>
                <th>Package Category Parent</th>
                <td>{{ package_category.parent }}</td>
            </tr>
        </tbody>
    </table>

    <form>
        <a class="btn btn-secondary" href="{{ path('package_category_index') }}"><i class="fas fa-angle-left"></i> Back to list</a>
        {% if is_granted('ROLE_ADMIN') %}
            <a class="btn btn-primary" href="{{ path('package_category_edit', {'id': package_category.id}) }}"><i class="fas fa-pencil-alt"></i> Edit</a>
        {% endif %}
    </form>

{% endblock %}
